*{
  box-sizing: border-box;
}

.App{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.row {
  margin: -4px;
}

.box{
  margin: 0px;
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 1px solid black;
}

.char-image{
    display: block;
    height: 40px;
    max-width: 40px;
    margin: 7px auto;
}

.controls{
  display: flex;
  justify-content: center;
  align-items: center;
}

.key{
  border: 1px solid black;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
}

.up{
  margin: 0 33%;
}
