@import url('https://fonts.googleapis.com/css?family=Metal+Mania&display=swap');
* {
    box-sizing: border-box;
}

/* Navber */

.navbar {
    background-color: #003f88;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    opacity: 0.8;
    color: #fff;
    font-family: Metal Mania, sans-serif;
    text-align: center;
    font-size: 2rem;
}

/* Board */

.board {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 300px;
}

/* Moves */

.moves {
    position: relative;
    text-align: center;
    color: white;
}

.moves img {
    width: 100px;
    height: 100px;
}

.moves .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    font-weight: 700;
}

/* Grid */

.row {
    margin: -4px;
}

.box {
    margin: 0px;
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 7px solid #ef233c;
    border-radius: 5px;
}

.char-image {
    display: block;
    height: 30px;
    max-width: 30px;
    margin: 7px auto;
}

/* Controls */

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.key {
    border: 7px solid #06d6a0;
    padding: 12px;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    color: #06d6a0;
}

.key:hover {
    filter: brightness(50%);
}

.up {
    margin: 0 33%;
}